{% extends "base.html" %}

{% block content %}
    <div style="width:50%; margin: auto">
        <p>Logged out!</p>  

        <a href="{% url 'login'%}">Click here to login again.</a>
    </div>
{% endblock %}