{% extends "base.html" %}

{% block content %}
<div style="width: 60%; margin: 50px auto">

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {# {% if next %} #}
        {# {% if user.is_authenticated %} #}
        <!--<p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>-->
        {# {% else %} #}
        <!--<p>Please login to see this page.</p>-->
        {# {% endif %} #}
    {# {% endif %} #}

    <form method="post" action="{% url 'login' %}" class="login-form">
    {% csrf_token %}

    <div class="padding-2">
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </div>
    <div class="padding-2">
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </div>

    <div class="padding" style="width: 40%; margin: auto">
      <input type="submit" value="login" class="btn-success btn"/>
      <input type="hidden" name="next" value="" />
      <p style="margin-top: 10px">
        Don't have an account? <a href="{% url 'register' %}">Register</a>
      </p>
    </div>
    </form>
</div>
    
{% endblock content %}