{% extends "base.html" %}

{% block content %}
<div style="width: 60%; margin: 50px auto">

    <form method="post" action="{% url 'register' %}" class="login-form">
    {% csrf_token %}
    {{form.as_p}}

    <div class="padding" style="width: 40%; margin: auto">
      <input type="submit" value="Create Account" class="btn-success btn"/>
      <input type="hidden" name="next" value="" />
      <p style="margin-top: 10px">
        Already have an account? <a href="{% url 'login' %}">Login</a>
      </p>
    </div>
    </form>
</div>
    
{% endblock content %}