* {
  box-sizing: border-box;
  font-family: 'Roboto', Arial;
  color: #95e2aa;
  font-weight: 100;
}

html, body {
  height: 100%;
  width: 100%;
}

.text-small {
  font-size: .8em;
}

.glyphicon-remove {
  color:red;
}

.glyphicon-ok {
  color: #9dc9a8;
}

.glyphicon-edit {
  color: #93ccdf;
}

.float-button .glyphicon {
  color: white;
}

.padding-2 {
  padding: 20px;
}

.spinner {
  position: absolute;
  display: none;
  max-width: 20px;
}

.login-form input {
  width: 100%;
  padding: 10px;
}

.toggle-complete {
  margin-right: 30px;
  color: white;
  cursor: pointer;
}

.toggle-complete:hover {
  color: white;
}
body {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(http://subtlepatterns.com/patterns/stardust.png);
  background-origin: padding-box;
  background-size: auto;
}

.rebel {
  color: #ff6450;
}

.achieve {
  color: #9dc9a8;
}

.bt {
  border: none;
  cursor: pointer;
  outline: none;
}

.bt.bt-rebel {
  background: #ff6450;
  color: #fff;
}

.bt.bt-achieve {
  background: #9dc9a8;
  background: transparent;
  color: #444349;
  right: 50px;
  margin: auto 5px;
}

.bt.bt-delete {
  background: #b12727;
  background: transparent;
  right: 0;
  color: #d8d4cb;
}

.todo-list .edit-form {
  display: none;
  width: 90%
}

.todo-list .edit-form {}

.task-data {
  background: #050101;
  outline: none;
  padding: 10px;
  margin: 4px 0 1px 0;
  border: 1px solid #9dc9a8;
  width: 90%;
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

.task-data .txt {
  width: 60%;
}

.task-data > *:focus {
  outline: none;
}

.task-data .date {
  width: 20%;
}

.task-desc-toggle {
  position: absolute;
  right: 50%;
  left: 50%;
  top: 40%;
}

.task-data > * {
  margin: auto 1%;
  background: transparent;
  border: none;
}

.task-delete-form {
  width: 50%;
  margin: auto;
}

.bt-complete {
  opacity: .3;
}

.page-container {
  width: 90%;
  margin: 0 auto;
}

.page-container h2 {
  text-align: center;
  font-weight: 900;
}

.add-todo {
  position: fixed;
  bottom: 0;
  width: 90%;
  margin: auto;
}

.add-todo .txt {
  padding: 10px;
}

.add-todo textarea{
  width: 90%;
  outline: 1px solid grey;
}

.todo-list {
  margin-bottom: 100px;
}

.todo-list, .add-todo {
  list-style-type: none;
  text-align: left;
}

.todo-list li {
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #9dc9a8;
  width: 90%;
  position: relative;
  min-height: 100%;
  cursor: pointer;
}

.todo-list li .buttons {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.todo-list li .bt {
  transition: width 0.4s ease-in-out;
  height: 100%;
  width: 25px;
}

.todo-list li .bt:hover:not(.bt-complete) {
  width: 30px;
  font-size: 1.5em;
}

.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 52px;
  padding: 17px;
  font-size: 1em;
  background: rgb(64, 109, 111);
  position: fixed;
  z-index: 1;
  right: 51px;
  pointer-events: auto;
  cursor: pointer;
   text-shadow: 0px 2px 4px grey; 
  top: 200.1px;
  top: 50vh;
}

.float-button .content {
  position: relative;
  left: 3px;
  top: 57%;
}


/* OVERWRITE DEFAULT PAGINATION*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #95e2aa;
  border-color: #95e2aa; 
}


@media (max-width: 500px) {
  
    .page-container {
      width: 100%;
    }

    .todo-list {
      padding: 0;
      width: 100%;
    }

    .todo-list li {
      width: 98%;
      margin: auto;
    }
}
