{% extends "base.html" %}


{% block content %}
  

<form method="post" action="{% url 'todo:task_delete' task.id %}" class="task-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Confirm deletion - "{{task.title}}"</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to delete this task?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" 
      onclick="location.href ='/'">Back</button>
    <button type="submit" class="btn btn-danger">Delete task</button>
  </div>
</form>
{% endblock content %}