{% extends "base.html" %}

{% block js %}
    {% load staticfiles %}
    <script src='{% static "js/services/services.js" %}'></script>
    <script src='{% static "js/controllers/controllers.js" %}'></script>
{% endblock js %}

{% block content %}
    
 <div class="page-container"> 
  <a class="pull-right toggle-complete">Hide completed</a>
  <h2>All Tasks</h2>
  {% if is_paginated %}
  <div class="text-center">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  </div>
{% endif %}
  <ul class="todo-list">
    {% for task in task_list   %}
        <li class="list-item">
          {{task.title}}
          <span class="center-block text-small">{{task.user.username}}</span>
          <!-- <a href="#collapse-{{task.id}}" class="task-desc-toggle" data-toggle="collapse">
              Description
          </a> -->
          <div class="buttons">
            {% if task.is_complete %}
                <button class="bt bt-achieve bt-complete" 
                    data-toggle="tooltip" title="Confirmed by {{task.confirmed_by.username}}">
                    <span class="glyphicon glyphicon-ok task-complete" 
                    data-task-id="{{task.id}}" data-url="{% url 'todo:task_confirm' task.id %}"></span>
                </button>
                {% else %}
                <button class="bt bt-achieve">
                <img src="/static/img/spinner.svg" class="spinner">
                <span class="glyphicon glyphicon-ok task-confirm" 
                    data-task-id="{{task.id}}" data-url="{% url 'todo:task_confirm' task.id %}"></span>
                </button>
            {% endif %}
            {% if  task.user.user == request.user%}
              <button class="bt bt-achieve">
                <a href="{% url 'todo:task_edit' task.id %}"><span class="glyphicon glyphicon-edit"></span></a>
                </button>
              <button class="bt bt-delete">
                <a href="{% url 'todo:task_delete' task.id %}"><span class="glyphicon glyphicon-remove"></span></a>
                </button>
            {% endif %}
          </div>
            <div id="collapse-{{task.id}}" class="collapse">
                {{task.description}}
            </div>
        </li>
    {% empty %}
      <li class="list-item">No tasks for now! Click the button to add</li>
    {% endfor %}
  </ul>
  <div>
      <ul class="add-todo" {% if  not form.errors%} style="display: none"{% endif %}>
        <li>
            <form method="POST" action="{% url 'todo:task_new' %}">
                {% csrf_token %}
                {% for error in form.priority.errors  %}
                    <p style="color: red; background: #0f0a0a; max-width: 90%">{{error}}</p>
                {% endfor %}
                {% for error in form.due_date.errors  %}
                    <p style="color: red; background: #0f0a0a; max-width: 90%">{{error}}</p>
                {% endfor %}
                {% for error in form.title.errors  %}
                    <p style="color: red; background: #0f0a0a; max-width: 90%">{{error}}</p>
                {% endfor %}
                <div class="task-data">
                      <input type="text" class="txt" placeholder="Title of task" 
                        title="task title" name="title"/>
                      <input type="date" class="date" title="due date" name="due_date">
                      <select id="" class="sel" title="task priority" name="priority">
                          <option value="1">Low</option>
                          <option value="2">Medium</option>
                          <option value="3">High</option>
                      </select>
                      
                </div>
            </form>
        </li>
      </ul>

      <div class="float-button" data-toggle="tooltip" title="add new task">
        <span>
            <a class="content">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </span>
    </div>
  </div>
</div>


{% endblock content %}