{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row task-data" style="background: transparent">
            <div class="col col-md-8">
                <form method="POST" action="{% url 'todo:task_edit' task.id %}" class="form-inline">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-md-2 padding-2">
                            <label for="">{{form.title.label}}:</label>
                        </div>
                          <div class="col-md-10 padding-2">
                                {% for error in form.title.errors  %}
                                    <p style="color: red">{{error}}</p>
                                {% endfor %}
                                <input type="text" class="txt" placeholder="Title of task" 
                                    title="task title" name="title" value="{{form.title.value}}"
                                    style="padding: 10px" />
                          </div>
                          <div class="col-md-2 padding-2"><label for="">{{form.due_date.label}}:</label></div>
                          <div class="col-md-10 padding-2">
                            {% for error in form.due_date.errors  %}
                                <p style="color: red">{{error}}</p>
                            {% endfor %}
                              <input type="date" class="dates" title="due date" 
                                name="due_date" value="{{form.due_date.value|date:'Y-m-d'}}">
                          </div>
                          <div class="col-md-2 padding-2"><label for="">{{form.priority.label}}:</label></div>
                          <div class="col-md-10 padding-2">
                                {% for error in form.priority.errors  %}
                                    <p style="color: red">{{error}}</p>
                                {% endfor %}
                                {{form.priority}}
                          </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 padding-2"><label for="">Completed?:</label></div>
                          <div class="col-md-10 padding-2">
                            {% for error in form.is_complete.errors  %}
                                <p style="color: red">{{error}}</p>
                            {% endfor %}
                              {{form.is_complete}}
                          </div>
                    </div>
                    <input type="submit" value="Update" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>

{% endblock content %}